:root {
  --lBlue: #41B6E6;
  --lGrey: #E8EDEE;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--lGrey);
}

img {
  width:100%;
  height: auto;
  /* margin-top: clamp(-20%, -20%, -20%); */
  /* margin-bottom:clamp(-20%, -20%, -20%); */
}

.fullHeight {
  height:100%;
}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  color: #41B6E6;
  padding: 10px;
}

h2, h3, h6, h5{
text-align: center;
color: #0072CE;
}

h4{
  color: #0072CE;
  padding: 10px;
}

p{
  text-align: center;
  padding: 20px;
}

li{
  padding: 10px;
}

.navbar-inverse, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  background-color: #0072CE;
  color: #fff;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color:#768692;
}

.logo-image{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   overflow: hidden;
   margin-top: -35px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#textHeader{
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 40px;
  color: #003087;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text{
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text1{
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 20px;
  text-align: center;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#textHeader1{
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 40px;
  color: #003087;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text2{
  position: absolute;
  top: 67%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#text3{
  position: absolute;
  top: 95%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
